/**
 * 8.9 - >= 1600px
 */

@include media(diagonal) {

    body,
    #team-content-section .entry-title,
    .author-description .author-title,
    #testimonial-content-section.style-one .entry-title {
        font-size: 20px;
        font-size: 1.25rem;
    }

    blockquote {
        font-size: 22px;
        font-size: 1.375rem;
    }

    .ui-tabs-panel {
        padding-top: 49px;
    }

    #sticky-playlist-section .wp-playlist-caption,
    #sticky-playlist-section .wp-playlist-item-title,
    #sticky-playlist-section .wp-playlist-item-length,
    #sticky-playlist-section .catch-corporate-mejs-container.mejs-container .mejs-time,
    .menu-label,
    .menu-toggle,
    .menu-toggle-close,
    .dropdown-toggle,
    .search-toggle:before,
    .search-submit:before,
    .cart-contents:before {
        font-size: 16px;
        font-size: 1rem;
    }

    ul.products li.product .price,
    .events-content-wrapper .date-month-year,
    .author-bio,
    .section-tagline,
    .sidebar .social-navigation.ct-social-widget a,
    .social-navigation.ct-social-widget a,
    .dropdown-toggle,
    .search-toggle:before,
    .search-submit:before,
    .site-header-cart .cart-contents,
    .cart-contents:before,
    #team-content-section .entry-meta {
        font-size: 18px;
        font-size: 1.125rem;
    }

    .entry-content h1,
    .entry-summary h1,
    .comment-content h1,
    .textwidget h1,
    .section-title,
    .collection-wrapper .head-title,
    #footer-instagram .widget-title,
    .app-section .section-title,
    .hero-section .entry-title,
    .promotion-section .entry-title,
    .gallery-section .entry-title,
    body:not(.home) .header-media .entry-title {
        font-size: 50px;
        font-size: 3.125rem;
    }

    .entry-content h2,
    .entry-summary h2,
    .comment-content h2,
    .textwidget h2,
    .page-title,
    .single .site-main .entry-header .entry-title,
    .page .site-main .entry-header .entry-title {
        font-size: 42px;
        font-size: 2.625rem;
    }

    .entry-content h3,
    .entry-summary h3,
    .comment-content h3,
    .textwidget h3,
    .custom-header-content .section-title,
    .layout-one .archive-post-wrap .hentry .entry-title,
    .edd-single-product-container .product-title {
        font-size: 36px;
        font-size: 2.25rem;
    }

    .entry-content h4,
    .entry-summary h4,
    .comment-content h4,
    .textwidget h4,
    #edd-reviews-heading,
    .post-navigation .nav-links,
    #feature-slider-section .entry-content p,
    .comment-reply-title,
    .events-content-wrapper .date-week-day,
    .events-content-wrapper .entry-title {
        font-size: 28px;
        font-size: 1.75rem;
    }

    .entry-content h5,
    .entry-summary h5,
    .comment-content h5,
    .textwidget h5,
    .entry-title,
    .fes-vendor-dashboard .fes-headers,
    .post-navigation .nav-title,
    .edd-rp-item > a .edd-rp-item-title,
    #edd-rp-checkout-header {
        font-size: 24px;
        font-size: 1.5rem;
    }

    #footer-instagram .widget-title {
        font-size: 48px;
        font-size: 3rem;
    }

    .comments-area {
        margin-top: 70px;
    }

    .post-navigation {
        padding-bottom: 70px;
    }

    .footer-widget-area {
        padding: 55px 0;
    }

    #team-dots {
        max-width: 601px;
    }

    #team-dots li {
        margin-right: 35px;
    }

    .widget-column.above-footer {
        padding-top: 140px;
    }

    #site-generator .site-footer-menu .social-navigation a {
        padding: 17px;
        margin: 0 7px;
    }

    .playlist-content-wrapper .entry-container {
        padding: 110px 0 0 120px;
    }

    body #playlist-section .wp-playlist {
        margin-bottom: 42px;
        margin-top: 42px;
    }

    .playlist-content-wrapper.content-align-left .entry-container {
        padding-left: 0;
        padding-right: 63px;
    }

    #team-dots li:after {
        bottom: -35px;
    }

    #footer-menu-section .wrapper {
        padding: 0 20px;
    }

    .catch-corporate-mejs-container.mejs-container .mejs-controls {
        padding: 15px 28px;
    }

    #sticky-playlist-section .wp-playlist-current-item {
        padding: 10px 21px 10px 0;
    }

    #sticky-playlist-section .catch-corporate-mejs-container.mejs-container .mejs-controls {
        padding: 15px 0;
    }


    #feature-slider-section .owl-prev .icon,
    #feature-slider-section .owl-next .icon {
        width: 40px;
        height: 40px;
    }

    .more-button,
    .more-link .more-button,
    .archive-post-wrap .more-button,
    .stats-section.style-one .title-button-wrapper .view-more {
        margin-top: 35px;
    }

    .app-image-container {
        margin-top: 42px;
    }

    .archive-posts-wrapper .section-content-wrapper .entry-content {
        margin-top: 28px;
    }

    #promotion-section.content-align-center .entry-container-frame {
        padding: 56px;
    }

    #catch-corporate-logo-slider-section .owl-prev {
        left: -75px;
    }

    #catch-corporate-logo-slider-section .owl-next {
        right: -75px;
    }

    .has-header-media.header-media-text-disabled .wp-custom-header {
        padding: 235px 30px;
    }

    .post-thumbnail {
        margin-bottom: 28px;
    }

    button,
    .button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .posts-navigation a,
    .pagination .page-numbers,
    #content #infinite-handle span button,
    .catch-instagram-feed-gallery-widget-wrapper .button,
    .header-media .more-link,
    .header-media .more-button .more-link,
    #feature-slider-section .more-link,
    .pagination .page-numbers.prev,
    .pagination .page-numbers.next,
    .hero-section .more-button .more-link,
    .archive-posts-wrapper  .more-button .more-link,
    .woocommerce .product-container .wc-forward {
        padding: 15px 35px;
    }

    .comment-respond,
    .edd-reviews-form {
        padding: 70px;
    }

    #tab-reviews .comment-respond {
        padding: 70px 56px 56px;
        margin: 0 auto;
    }

    .section-heading-wrapper {
        padding-bottom: 49px;
    }

    .hentry,
    .view-more,
    .no-results.not-found,
    .sidebar .widget,
    // body:not(.home) .content-area .site-main,
    .singular-content-wrap,
    .single .site-main .entry-header,
    .page .site-main .entry-header,
    .archive .page-header,
    .error404 .page-header,
    .search .page-header,
    .woocommerce-products-header,
    .posts-navigation,
    .pagination,
    ul.products li.product,
    #footer-newsletter .ewnewsletter .widget-inner {
        margin-bottom: 56px;
    }

    .section,
    .half-content,
    #footer-newsletter .ewnewsletter .widget-wrap {
        padding: 98px 0 42px 0;
    }

    .contact-form-section.has-map .post-thumbnail {
        padding-bottom: 98px;
    }

    .home .site-content > .wrapper {
        padding: 98px 30px 42px 30px;
    }

    #infinite-handle, #ctis-loading {
        margin: 0 0 56px;
    }

    .archive-post-wrap .hentry .entry-meta > span {
        padding-right: 21px;
    }

    .archive-post-wrap .hentry .entry-footer {
        padding-top: 28px;
        margin-top: 35px;
    }

    .author-info .author-avatar .avatar {
        height: 100px;
        width: 100px;
    }

    .content-align-left .hero-content-wrapper .entry-container,
    .content-align-left .promotion-content-wrapper .entry-container {
        padding-right: 60px;
    }


    .hero-section.content-align-right .post-thumbnail,
    .content-align-right .hero-content-wrapper .entry-container,
    .content-align-right .promotion-content-wrapper .entry-container {
        padding-left: 100px;
    }

    .hero-section.content-align-left .post-thumbnail,
    .content-align-left .hero-content-wrapper .entry-container,
    .content-align-left .promotion-content-wrapper .entry-container {
        padding-right: 100px;
    }

    .portfolio-content-wrapper .filter-button-group {
        margin-bottom: 49px;
    }

    .portfolio-content-wrapper .filter-button-group button {
        margin: 0 20px;
    }

    .portfolio-content-wrapper .filter-button-group {
        margin-top: -20px;
    }

    .promotion-section.content-frame .entry-container {
        padding: 56px;
    }

    .promotion-section .entry-container {
        max-width: 700px;
    }

    .pricing-section .entry-header,
    .pricing-section .section-content-wrapper .entry-content,
    .pricing-section .section-content-wrapper .entry-summary {
        padding-left: 49px;
        padding-right: 49px;
    }

    .package-price {
        padding: 21px 49px;
    }

    .package-amount {
        font-size: 52px;
        font-size: 3.25rem;
    }

    .pricing-section .entry-content ul > li::before,
    .pricing-section .entry-summary ul > li::before {
        margin-right: 14px;
    }

    #content .layout-two #infinite-handle,
    #content .layout-three #infinite-handle,
    #content .layout-two .infinite-loader,
    #content .layout-three .infinite-loader {
        bottom: -58px;
    }

    body.infinite-scroll .archive-posts-wrapper .section-content-wrapper.layout-two,
    body.infinite-scroll .archive-posts-wrapper .section-content-wrapper.layout-three {
        padding-bottom: 98px;
    }

    .edd-product-gallery__trigger {
        top: 28px;
        right: 28px;
    }

    .edd-single-product-container .edd-product-summary {
        padding-left: 70px;
    }

    .edd-vendor-detail {
        padding-top: 42px;
        margin-top: 42px;
    }

    .edd-author > a {
        margin-right: 21px;
    }

     #edd-rp-checkout-wrapper {
        margin-top: 42px;
    }

    .author-avatar {
        margin: 0 35px 0 0;
    }

    .comment-form > p,
    .wpcf7-form > p {
        margin-bottom: 21px;
    }

    .dropdown-toggle {
        padding: 11px 16px;
    }

    body:not(.home) .custom-header-content {
        padding: 128px 50px;
    }

    .stats-section.style-one .hentry-inner {
        padding: 70px 35px;
    }

   .stats-section.style-one .title-button-wrapper {
        width: 47.14285714285714%;
    }

    .stats-section.style-one .section-content-wrapper {
        width: 52.85714285714286%;
    }

    .stats-section.style-one .section-description {
        margin-top: 28px;
    }

    .pricing-section .entry-title,
    .comments-title,
    .what-we-do-section .tab-pane .entry-title {
        font-size: 28px;
        font-size: 1.75rem;
    }

    .pricing-section .hentry-inner {
        padding: 49px 0;
    }

    .testimonial-content-section.style-one .entry-container {
        padding-left: 100px;
        padding-top: 132px;
    }

    .testimonial-content-section.style-one .entry-container:before {
        top: 110px;
    }

    .post-navigation .nav-previous {
        padding-right: 30px;
    }

    .post-navigation .nav-next {
        padding-left: 30px;
    }

    .promotion-contact .button-wrap {
        padding-left: 49px;
    }

    .promotional-video-section.no-section-heading {
        padding-bottom: 208px;
        padding-top: 250px;
    }

    .section-description {
        margin-top: 14px;
    }

    .contact-details .contact svg {
        font-size: 52px;
        font-size: 3.25rem;
        margin-right: 28px;
    }

    .contact-details .entry-container > .contact:not(:last-child) {
        padding-bottom: 28px;
        margin-bottom: 28px;
    }

    .container--tabs .entry-container {
       padding-right: 60px;
    }

    .container--tabs .nav-tabs > li > a > span.what-we-do-icon-image {
        margin-bottom: 22px;
    }

    .container--tabs .tab-content {
        padding-top: 56px;
    }

    .logo-slider-section .owl-dots,
    .testimonial-content-section .owl-dots {
        margin-bottom: 56px;
    }

    .main-navigation > ul > li > a::before{
        width: calc(100% - 42px);
        left: 21px;
    }

    .navigation-default #primary-menu-wrapper .main-navigation a {
        font-size: 40px;
        font-size: 2.5rem;
    }

    .navigation-default #primary-menu-wrapper .main-navigation .sub-menu a {
        font-size: 38px;
        font-size: 1.75rem;
    }

    .navigation-default #primary-menu-wrapper .dropdown-toggle {
        top: 12px;
    }
    .navigation-default .main-navigation > ul > li > a::after {
        height: 5px;
    }
    .navigation-default .main-navigation li {
        margin: 0 0 28px;
    }

    .hero-content-wrapper .entry-container, .promotion-content-wrapper .entry-container {
        max-width: 680px;
        width: 57.14285714285714%;
    }

    body:not(.home) .custom-header-content-wrapper {
        max-width: 900px;
    }

    .team-content-wrapper .hentry {
        margin-bottom: 40px;
    }

    .half-content {
        padding-left: 63px;
    }

    #feature-slider-section .content-container {
        padding-left: 0px;
    }

    .hero-section .post-thumbnail:before {
        width: 260px;
        height: 313px;
        bottom: -80px;
    }


    .archive .archive-post-wrap .post-wrapper,
    .search .archive-post-wrap .post-wrapper,
    .blog .archive-post-wrap .post-wrapper {
        margin-bottom: 70px;
        padding-bottom: 70px;
    }

    .custom-header-content-wrapper,
    .text-below-header-image .custom-header-content-wrapper,
    #feature-slider-section.text-below-image .content-container,
    #feature-slider-section .content-container {
        max-width: 580px;
    }

    .testimonial-content-section .wrapper::before,
    #hero-section .wrapper::before {
        top: -70px;
        right: 50px;

    }

    #product-highlight .wrapper::before {
        left: 100px;
        top: 50px;
    }

    .promotion-section .entry-container {
        padding: 70px
    }
    .promotion-section .entry-summary {
        font-size: 24px;

    }

    .product-thumbnail-images {
        width: 180px;
    }
    .testimonial-content-section .owl-carousel .owl-item img {
        height: 180px;
        overflow: hidden;
        width: 180px;
        margin: 0 auto;
    }
    .product-review-content {
        width: calc(100% - 180px);
        padding-left: 77px;
    }

    .testimonial-content-section .owl-carousel .owl-item .post-thumbnail img {
        height: 90px;
        width: 90px;
    }


	.testimonial-thumbnail.review-thumbanil.post-thumbnail {
		bottom: -45px;
		right: -45px;
	}

    .promotion-contact .section-description {
        padding-left: 35px;
        margin-left: 35px;
    }

    #collection-section .product-container {
        padding: 84px 56px;
    }
    .collection-main .view-more {
        margin: 0;
    }

    #social-menu-wrapper a {
        padding: 12px;
        width: 50px;
        height: 50px;

    }

    .custom-header-media,
    #feature-slider-section .entry-container,
    .boxed-layout #page,
    .wrapper,
    .scroll-down,
    #footer-newsletter .widget-wrap {
        margin: 0 auto;
        max-width: 1500px;
        width: 100%;
    }

    #collection-section .hentry-inner {
        min-height: 360px;
    }

    .home .header-media .highlight-text,
    .feature-slider-section .highlight-text {
        font-size: 78px;
        font-size: 4.875rem;
    }


    .home .header-media .entry-title,
    .feature-slider-section .entry-title,
    .alternate-text {
        font-size: 48px;
        font-size: 3rem;
    }

    .search-container {
        padding: 14px 40px;
    }

    .menu-inside-wrapper input[type="search"] {
        font-size: 24px;
    }
    .product-container {
        padding: 21px 28px 28px;
    }
    .woocommerce .product-container a.added_to_cart.wc-forward {
        padding: 10px 21px;
        margin-left: 14px;
    }


}


