/**
 * 8.6 - >= 1200px
 */

@include media(large) {
	#sticky-playlist-section .wp-playlist-current-item {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 25%;
		flex: 0 1 25%;
	}

	#team-dots {
		max-width: 485px;
	}

	.navigation-classic .main-navigation .menu-item-has-children>a>.icon,
	.navigation-classic .main-navigation .page_item_has_children>a>.icon {
		display: inline;
		position: relative;
		left: 4px;
	}

	.navigation-classic .main-navigation ul ul .menu-item-has-children>a>.icon,
	.navigation-classic .main-navigation ul ul .page_item_has_children>a>.icon {
		left: auto;
		position: absolute;
		right: 0px;
		top: 30%;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.navigation-classic .main-navigation ul ul a {
		width: 220px;
	}

	.navigation-classic #primary-menu-wrapper .menu-inside-wrapper {
		max-width: 100%;
	}

	#sticky-playlist-section .catch-corporate-mejs-sticky-playlist-container {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 75%;
		flex: 0 1 75%;
	}

	.navigation-classic #primary-menu-wrapper {
		margin-right: auto;
	}


	.navigation-classic .menu-toggle {
		display: none;
	}

	.navigation-classic #primary-search-wrapper .menu-toggle {
		display: block;
	}

	.navigation-classic #primary-menu-wrapper .menu-inside-wrapper {
		border: none;
		position: relative;
		display: block;
		float: left;
		top: 0;
		left: 0;
		right: 0;
		visibility: visible;
		opacity: 1;
		width: auto;
		bottom: auto;
		background-color: transparent;
		box-shadow: none;
		overflow: inherit;
	}

	.navigation-classic .main-navigation ul ul {
		border: none;
		display: block;
		float: left;
		margin: 0;
		padding: 7px 0;
		position: absolute;
		top: auto;
		left: -999em;
		z-index: 99999;
	}

	.navigation-classic .main-navigation ul ul ul {
		left: -999em;
		top: -10px;
	}

	.navigation-classic .main-navigation ul li:hover>ul,
	.navigation-classic .main-navigation ul li.focus>ul {
		right: 0;
		left: auto;
	}

	.navigation-classic .main-navigation>a {
		position: relative;
	}

	.navigation-classic {
		.main-navigation ul li {
			padding: 0 15px;
		}

		.main-navigation ul li li {
			padding: 0 25px;
		}

		.main-navigation ul li a {
			padding: 14px 0px;
			position: relative;
		}

		.main-navigation ul ul li a {
			padding: 8px 0px;
		}
	}

	.navigation-classic .main-navigation {
		padding: 0;
		border: none;
	}

	.navigation-classic .main-navigation li {
		border-bottom: none;
	}

	.navigation-classic .main-navigation ul ul li:hover>ul,
	.navigation-classic .main-navigation ul ul li.focus>ul {
		left: auto;
		right: 100%;
	}

	.navigation-classic .main-navigation li {
		display: inline-block;
	}

	.navigation-classic .social-top div {
		border-bottom: none;
	}

	.navigation-classic .dropdown-toggle,
	.navigation-classic .main-navigation ul .dropdown-toggle.toggled-on,
	.navigation-classic #primary-menu-wrapper .menu-toggle-wrapper {
		display: none;
	}

	.site-header-menu .site-header-cart {
		cursor: pointer;
	}

	@keyframes smoothScrollBack {
		0% {
			transform: translateY(20px);
		}

		100% {
			transform: translateY(0px);
		}
	}

	.navigation-classic .main-navigation ul li:hover>ul,
	.navigation-classic .main-navigation ul li.focus>ul {
		-webkit-animation: smoothScrollBack .5s forwards, fadein .5s;
		-moz-animation: smoothScrollBack .5s forwards, fadein .5s;
		-o-animation: smoothScrollBack .5s forwards, fadein .5s;
		animation: smoothScrollBack .5s forwards, fadein .5s;
	}

	.header-media-disabled #feature-slider.section {
		padding-top: 78px;
	}

	.main-navigation ul {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	#footer-menu-section .wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.absolute-header .custom-header {
		padding-top: 116px;
	}

	.main-navigation>ul>li>a {
		position: relative;
	}

	.site-header-menu {
		margin: 0 0 0 auto;
		order: initial;
	}

	.navigation-default .site-header-menu {
		margin: 0;
	}

	.hero-section.content-align-right .post-thumbnail,
	.content-align-right .hero-content-wrapper .entry-container,
	.content-align-right .promotion-content-wrapper .entry-container {
		padding-left: 90px;
	}

	.hero-section.content-align-left .post-thumbnail,
	.content-align-left .hero-content-wrapper .entry-container,
	.content-align-left .promotion-content-wrapper .entry-container {
		padding-right: 90px;
	}

	.home .header-media .entry-title,
	.feature-slider-section .entry-title,
	.alternate-text {
		font-size: 42px;
		font-size: 2.625rem;
	}

	.home .header-media .highlight-text,
	.feature-slider-section .highlight-text {
		font-size: 64px;
		font-size: 4rem;
	}

	#featured-content-section .hentry .entry-meta {
		padding-top: 28px;
		margin-top: 28px;
	}

	.promotion-section .post-thumbnail {
		width: 50%;
	}

	.promotion-section .entry-container,
	.promotion-section .rear-image {
		width: 25%;
	}

	.promotion-section.single-layout .entry-container {
		width: 50%;
	}

	.product-review-content {
		width: calc(100% - 160px);
		padding-left: 63px;
	}

	.testimonial-content-section .owl-carousel .owl-item .post-thumbnail img {
		margin-left: auto;
		margin-right: 0;
	}

	.testimonial-thumbnail.review-thumbanil.post-thumbnail {
		position: absolute;
		bottom: -35px;
		margin: 0;
		right: -35px;
		transform: none;
	}

	#collection-section .wrapper .section-content-wrapper {
		display: flex;

		.collection-main,
		.collection-main+.collection-head {
			width: 50%;
		}
	}

	.collection-head {
		width: 100%;
	}

	#collection-section .product-container {
		width: 50%;
		padding: 56px 15px;
	}

	.collection-head .post-thumbnail,
	.collection-head .hentry-inner,
	.collection-head .hentry {
		height: 100%;
	}

	.head-content {
		text-align: center;
		padding: 120px;
		position: relative;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.head-button {
		margin-top: 35px;
	}

	.head-title {
		margin-top: 0;
		margin-bottom: 0;
	}

	.contact-section .logo {
		display: flex;
		align-items: center;
	}

	.contact-section .logo-title {
		padding-top: 0;
		padding-left: 28px;
	}

	#scrollup {
		height: 60px;
		padding: 18px;
		width: 60px;
	}

	#collection-section.no-head-image .wrapper .section-content-wrapper .collection-main {
		width: 100%;
		display: flex;
	}

	.no-head-image .collection-wrapper .custom-collection:first-child .hentry-inner {
		flex-direction: initial;
	}

	.no-head-image .collection-wrapper .custom-collection:first-child .post-thumbnail {
		left: auto;
		right: 0;
	}

	.navigation-classic .mobile-social-search {
		display: none;
	}

	.site-header .social-navigation ul {
		padding: 0;
	}

	.search-container {
		padding: 7px 50px;
	}

}
