/**
 * 8.2 - >= 667px / 41.6875em
 */

@include media(mobile-landscape) {
    .stats-section.style-one .wrapper {
        display: flex;
    }

    .stats-section.style-one .title-button-wrapper {
        text-align: left;
        padding-bottom: 0;
        width: 32%;
    }

    .stats-section.style-one .section-heading-wrapper,
    .stats-section.style-one .title-button-wrapper .view-more {
        text-align: left;
    }

    .stats-section.style-one .section-content-wrapper {
        width: 68%;
    }

    .stats-section.style-one .section-title-wrapper {
        max-width: 490px;
    }

    .testimonial-content-section.style-one .hentry-inner {
        margin: 0 auto;
        max-width: 1200px;
        overflow: hidden;
        @include flex;
    }

    .testimonial-content-section.style-one .post-thumbnail {
        width: 40%;
    }

    .testimonial-content-section.style-one .entry-container {
        padding-left: 40px;
        text-align: left;
        width: 60%;
    }

    .testimonial-content-section.style-one .entry-container:before {
        left: unset;
        transform: none;
    }

    .promotion-contact .section-heading-wrapper {
        margin-right: auto;
        max-width: 770px;
        width: 60%;
    }

    .promotion-contact .button-wrap {
        padding-left: 28px;
        text-align: right;
        width: 40%;
    }

    .promotion-contact .more-button {
        margin: 0;
    }

    .container--tabs .tab-content>.tab-pane .hentry-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .container--tabs .tab-content>.tab-pane .hentry-inner .post-thumbnail {
        width: 44.28571428571429%;
    }

    .container--tabs .tab-content>.tab-pane .hentry-inner .entry-container {
        width: 55.71428571428571%;
    }

    .container--tabs .entry-container {
        max-width: 680px;
        margin-right: auto;
        padding-right: 40px;
    }

    .promotion-section .entry-title {
        font-size: 26px;
        font-size: 1.625rem;
    }

    #feature-slider-section.text-below-image .post-thumbnail img {
        position: absolute;

    }

    .product-highlight .layout-two .hentry {
        width: 50%;
    }

    .text-below-header-image .custom-header-content-wrapper,
    .custom-header-content-wrapper,
    #feature-slider-section.text-below-image .content-container,
    #feature-slider-section .content-container {
        max-width: 400px;
    }

    .home .header-media .highlight-text,
    .feature-slider-section .highlight-text {
        font-size: 56px;
        font-size: 3.5rem;
    }

    .product-highlight .product-highlight-wrapper .entry-title {
        font-size: 22px;
        font-size: 1.375rem;
    }

    .home.text-below-header-image .custom-header.header-media,
    #feature-slider-section.text-below-image .hentry-inner {
        min-height: 100vh;
    }

    .admin-bar.home.text-below-header-image .custom-header.header-media,
    .admin-bar #feature-slider-section.text-below-image .hentry-inner {
        min-height: calc(100vh - 46px);
    }

    .has-header-image.home.text-below-header-image .custom-header-media .wp-custom-header img {
        display: none;
    }

    .has-header-image.home.text-below-header-image .custom-header .wrapper:before {
        display: block;
    }
}
