/**
 * 7.3.5 - Slider
 */

#feature-slider-section {
    border: none;
    padding: 0;
}

#feature-slider-section .wrapper {
    max-width: 100%;
    padding: 0;
}

#feature-slider-section .hentry {
    margin: 0;
    padding: 0;
}

#feature-slider-section .hentry-inner {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: center;
    -ms-flex-pack: end;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    position: relative;


}
.home.text-below-header-image .custom-header.header-media,
#feature-slider-section.text-below-image .hentry-inner {
    min-height: auto;
}

#feature-slider-section .post-thumbnail {
    margin: 0;
    position: static;
}

#feature-slider-section .post-thumbnail img {
    height: 100%;
    left: 50%;
    max-width: 1000%;
    min-height: 100%;
    min-width: 100vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -1;
}

@supports (object-fit: cover) {
    #feature-slider-section .post-thumbnail img {
        height: 100%;
        left: 0;
        object-fit: cover;
        top: 0;
        transform: none;
        width: 100%;
    }
}

#feature-slider-section .entry-container {
    display: block;
    opacity: 0;
    position: relative;
    visibility: hidden;
    left: 80px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    -ms-transition-delay: .4s;
    transition-delay: .4s;
    z-index: 9;
}

#feature-slider-section .active .entry-container {
    opacity: 1;
    visibility: visible;
    left: 0;
}

#feature-slider-section .owl-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

#feature-slider-section .owl-prev,
#feature-slider-section .owl-next {
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    outline: none;
    opacity: 1;
    filter: alpha(opacity=1);
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    z-index: 199;
    font-weight: 500;
    padding: clamp(14px, 3.5vw, 28px) clamp(7px, 3.5vw, 21px);
}


#feature-slider-section .owl-prev .icon,
#feature-slider-section .owl-next .icon {
    width: 28px;
    height: 28px;
}

#feature-slider-section .owl-prev:hover,
#feature-slider-section .owl-prev:focus,
#feature-slider-section .owl-next:hover,
#feature-slider-section .owl-next:focus {
    text-decoration: none;
}

#feature-slider-section .post-thumbnail img {
    object-position: center center;
}

#feature-slider-section .owl-dots {
    bottom: 21px;
    position: absolute;
    text-align: left;
    width: 100%;
    padding-left: 30px;
}


.scroll-down {
    display: none;
    z-index: 9;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin: 0 auto;
    transform: translateX(-50%);
}

.scroll-inner {
    position: absolute;
    cursor: pointer;
    display: block;
    max-width: max-content;
    padding: 55px 14px 14px 14px;
    transition: all 0.4s;
    bottom: 0;
}
.scroll-inner svg {
    display: block;
    margin: 21px auto;
    width: 24px;
    height: 24px;
}

.scroll-down .icon-angle-down {
    animation: scrollDown 1.5s infinite;
}

.scroll-down:hover .icon-angle-down {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.scroll-inner svg {
    display: none;
}

.scroll-inner span {
    position: absolute;
    left: 48%;
    top: 10px;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes scrollDown{
    0%{
        transform:translate(0,0);
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        transform:translate(0px,10px);
        opacity:0
    }
}
@keyframes scrollDown{
    0%{
        transform:translate(0,0);
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        transform:translate(0px,10px);
        opacity:0
    }
 }
#feature-slider-section .more-link,
#feature-slider-section .more-button {
    border: none;
    cursor: pointer;
}

.feature-slider-section .more-button .more-link::before {
    display: none;
}

.has-header-image.home.text-below-header-image .custom-header-media .wp-custom-header img,
#feature-slider-section.text-below-image .post-thumbnail img {
    position: relative;
    display: block;

}

.has-header-image.home.text-below-header-image .custom-header .wrapper:before {
    display: none;

}

#feature-slider-section.text-below-image .entry-container {
    padding: 42px 30px 63px;
}

.header-media .custom-header-content .site-header-logo img,
.feature-slider-section .entry-container .slider-logo img {
    max-width: max-content;
    margin-top: 7px;
    height: 42px;
}
.header-media .custom-header-content.text-align-center .site-header-logo img,
.feature-slider-section.text-align-center .entry-container .slider-logo img {
    margin: 7px auto;

}
.header-media .custom-header-content.text-align-right .site-header-logo img,
.feature-slider-section.text-align-right .entry-container .slider-logo img {
    margin-left: auto;

}

#feature-slider-section .owl-nav button {
    letter-spacing: 4px;
    line-height: 1;
}

#feature-slider-section .owl-nav button.owl-prev {
    border-right: 1px solid rgba(255,255,255,0.3);
}

.color-scheme-dark #feature-slider-section .owl-nav button.owl-prev {
    border-right: 1px solid rgba(0,0,0,0.3);
}

.home .header-media .entry-title,
.feature-slider-section .entry-title,
.alternate-text {
    line-height: 1.5;
}

.alternate-text {
    font-weight: 700;
}

.home .header-media .highlight-text,
.feature-slider-section .highlight-text {
    font-size: 42px;
    font-size: 2.625rem;
    font-weight: 700;
    margin-top: 7px;
    line-height: 1.33;
}
.text-below-header-image .custom-header-content-wrapper,
#feature-slider-section.text-below-image .content-container {
    max-width: 100%;
}
