/**
 * 7.3.15 - Service
 */


.service-content-wrapper {
    text-align: center;
}

.single-item .featured-video-content-wrapper .hentry:first-child {
    margin: 0 auto;
    float: none;
}

.service-section .hentry-inner {
    text-align: center;
}

.service-section .more-button .more-link:hover::after,
.service-section .more-button .more-link:focus::after {
    background-color: transparent;
    content: none;
    display: none;
}
