/**
 * 7.3.18 - Testimonials
 */

/*--------------------------------------------------------------
## Testimonials
--------------------------------------------------------------*/

.testimonial-content-section .section-content-wrapper {
    text-align: center;
    margin: 0 auto;
}

.testimonial-content-section .wrapper {
    position: relative;

    &::before {
        position: absolute;
        top: -20px;
        right: 30px;
        content: '';
        width: 90px;
        height: 125px;
        background: url(assets/images/pattern.png) no-repeat;
        background-size: 100%;
        display: none;
    }
}

.testimonial-content-section.style-one .post-thumbnail {
    margin-bottom: 0;
}

.testimonial-content-section .owl-carousel .owl-item img {
    height: 160px;
    overflow: hidden;
    width: 160px;
    margin: 0 auto;
    object-fit: contain;
}
.testimonial-content-section .owl-carousel .owl-item .post-thumbnail img {
    height: 70px;
    overflow: hidden;
    width: 70px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid;
}
.testimonial-content-section .product-thumbnail-images {
    position: relative;
    margin-bottom: 56px;
}

.testimonial-thumbnail.review-thumbanil.post-thumbnail {
    position: absolute;
    bottom: -35px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}
.testimonial-content-section .star-rating {
    margin: 7px auto 14px;
}
.product-review-content .entry-meta p {
    margin: 0 0 7px;
}

p.woocommerce-LoopProduct-link {
    margin-bottom: 7px;
    font-weight: 600;
    line-height: 1.46;
}
.testimonial-content-section .section-content-wrapper .entry-summary .content-wrap p {
    margin: 0;
}

.testimonial-content-section.style-two .entry-header {
    padding-top: 56px;
    position: relative;
}

.testimonial-content-section.style-one .entry-header {
    padding-top: 35px;
}


.testimonial-content-section .position {
    display: block;
}

.testimonial-content-section.style-one .entry-header .entry-title + .entry-meta {
    margin-top: 0;
}

.testimonial-content-section .entry-header .entry-title + .entry-meta {
    font-style: italic;
    margin-top: 7px;
}
#logo-slider-section .owl-prev,
#logo-slider-section .owl-next,
#testimonial-content-section .owl-prev,
#testimonial-content-section .owl-next {
    border-radius: 50%;
    position: absolute;
    font-size: 32px;
    font-size: 2rem;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    line-height: 0;
    height: 20px;
    text-align: center;
    width: 20px;
    transition: all 0.3s;
    z-index: 99;
    display: none;
}
#logo-slider-section .owl-next,
#testimonial-content-section .owl-next {
    left: auto;
    right: 55px;
}
.testimonial-content-section .entry-container {
    margin: 0 auto;
    max-width: 1100px;
}

#feature-slider-section button.owl-dot:hover,
#feature-slider-section button.owl-dot:focus,
#feature-slider-section button.owl-dot.active,
#testimonial-content-section button.owl-dot:hover,
#testimonial-content-section button.owl-dot:focus,
#testimonial-content-section button.owl-dot.active {
    opacity: 1;
}

#logo-slider-section .owl-nav > button .icon,
#testimonial-content-section .owl-nav > button .icon {

    opacity: 0.3;
    transition: all 0.4s;
}
#logo-slider-section .owl-nav > button .icon:hover,
#testimonial-content-section .owl-nav > button .icon:hover {
    opacity: 1;
}
#logo-slider-section .owl-nav > .owl-prev .icon,
#testimonial-content-section .owl-nav > .owl-prev .icon {
    left: -5px;
    transform: rotate(180deg);
}

#logo-slider-section .owl-dots,
#testimonial-content-section .owl-dots {
    line-height: 0;
    text-align: center;
}

#logo-slider-section button.owl-dot,
#feature-slider-section button.owl-dot,
#testimonial-content-section button.owl-dot {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    clear: both;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 12px;
    line-height: 12px;
    margin: 0 6px;
    padding: 1px;
    outline: none;
    width: 12px;
    opacity: 1;
}


/* Style Two */

.testimonial-content-section.style-one .hentry-inner {
    overflow: hidden;
    padding: 0;
}

.testimonial-content-wrapper .hentry-inner .post-thumbnail {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#testimonial-content-section .owl-carousel,
#testimonial-content-section .owl-carousel .owl-stage-outer,
#testimonial-content-section .owl-carousel .owl-stage,
#testimonial-content-section .testimonial-content-section .owl-carousel .owl-item,
.testimonial-content-section .owl-carousel {
    position: initial;
}

#testimonial-content-section button.owl-dot {
    background: transparent;
}

.is-gradient-button #testimonial-content-section .owl-nav > button {
    background-image: none;
    color: inherit;
}

.entry-content .product-review-content .entry-title {
    position: relative;
    margin: 0;
    padding-top: 14px;
    line-height: 1.75;

    &::before {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 75px;
        height: 2px;
        content: '';
    }
}

.testimonial-content-section .section-content-wrapper .entry-content,
.testimonial-content-section .section-content-wrapper .entry-summary {
    margin-top: 0;
}
.testimonial-content-section .author-thumb {
    margin-top: 21px;
}

.testimonial-content-section .owl-dots {
    margin-bottom: 28px;
}

.testimonial-content-section .more-button {
    margin-top: 21px;
}

