

$theme-background-color : (

    body-background-color: #ffffff,

    primary-background-color: #ffffff,

    secondary-background-color: #f1f1f1,

    tertiary-background-color: #f7f7f7,

    footer-background-color: #1e1e1e,

);

$theme-color:(

    custom-header-slider-text-color: #000000,

    custom-header-slider-text-hover-color: #333333,

    main-text-color: #333333,

    header-text-color: #000000,

    fifty-of-heading-text-color: #999999,

    absolute-header-text-color: #ffffff,

    theme-heading-color: #000000,

    link-color: #000000,

    link-hover-color: #666666,

    secondary-link-color: #666666,

    secondary-link-hover-color: #000000,

    color-white-light: #ffffff,

    footer-text-color: #808080,

    fifty-six-of-footer-text-color: #b7b7b7,

    footer-border-color: #383838,

    quote-color: #e2e2e2,

    border-color: #e7e7e7,

);

$button-color: (

    background-button: #ff8337,

    background-hover-button: #000000,

    secondary-background-button: #000000,

    button-text-color: #ffffff,

    button-hover-text-color: #ffffff,


);
