
$body-font: 'Poppins', sans-serif;

$site-title-font: 'Poppins', sans-serif;

$site-tagline-font: 'Poppins', sans-serif;

$content-title-font: 'Poppins', sans-serif;

$heading-font: 'Poppins', sans-serif;
