/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

/**
 * 10.0 - Color
 */

/* Background Color */

body {
    background-color: map-get($theme-background-color, body-background-color);
}

/* Header Text Color */
.site-title a,
.site-description {
   color: map-get($theme-color, header-text-color);
}

/* Page Background Color */
.menu-toggle,
.site-header.scrollDown,
.sidebar textarea,
.sidebar select,
.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond input[type="url"],
.comment-respond input[type="password"],
.comment-respond input[type="search"],
.comment-respond input[type="number"],
.comment-respond input[type="tel"],
.comment-respond input[type="range"],
.comment-respond input[type="date"],
.comment-respond input[type="month"],
.comment-respond input[type="week"],
.comment-respond input[type="time"],
.comment-respond input[type="datetime"],
.comment-respond input[type="datetime-local"],
.comment-respond input[type="color"],
.comment-respond textarea,
.comment-respond select,
.footer-newsletter input[type="text"],
.footer-newsletter input[type="email"],
.footer-newsletter input[type="url"],
.footer-newsletter input[type="password"],
.footer-newsletter input[type="search"],
.footer-newsletter input[type="number"],
.footer-newsletter input[type="tel"],
.footer-newsletter input[type="range"],
.footer-newsletter input[type="date"],
.footer-newsletter input[type="month"],
.footer-newsletter input[type="week"],
.footer-newsletter input[type="time"],
.footer-newsletter input[type="datetime"],
.footer-newsletter input[type="datetime-local"],
.footer-newsletter input[type="color"],
.footer-newsletter textarea,
.footer-newsletter select,
.menu-inside-wrapper input[type="search"],
.select2-container--default .select2-selection--single,
.screen-reader-text:focus,
.boxed-layout .site,
#gallery-section .gallery-item .gallery-icon:hover a:after,
#gallery-section .gallery-item .gallery-icon:focus a:after,
#gallery-section .tiled-gallery .tiled-gallery-item:hover a:after,
#gallery-section .tiled-gallery .tiled-gallery-item:focus a:after,
.catch-corporate-mejs-container.mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.testimonial-content-section .owl-carousel .owl-item .post-thumbnail img,
.mejs-time-handle-content,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
section.ew-tabbed-recent-popular .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
section.ew-tabbed-recent-popular .ui-tabs .ui-tabs-panel,
.section:nth-child(2n).testimonial-content-section.style-two .hentry-inner,
.section:nth-child(2n).pricing-section .hentry-inner,
.section:nth-child(2n).stats-section.style-one .hentry-inner,
.section:nth-child(2n)#collection-section .product-container,
.section:nth-child(2n+1).hero-section .post-thumbnail:before,
.portfolio-content-wrapper .entry-container > .inner-wrap,
.testimonial-content-section::before,
.promotion-contact .button:hover,
.promotion-contact .button:focus,
button#custom-video-button,
.promotion-contact .button:after,
#logo-slider-section button.owl-dot,
#testimonial-content-section button.owl-dot,
.product-content-wrapper .products .product:hover .woocommerce-LoopProduct-link,
.product-content-wrapper .products .product:hover .product-container,
.site-header-menu button#close-button:hover,
.absolute-header.text-below-image .site-header,
.sidebar input[type="text"],
.sidebar input[type="email"],
.sidebar input[type="url"],
.sidebar input[type="password"],
.sidebar input[type="search"],
.sidebar input[type="number"],
.sidebar input[type="tel"],
.sidebar input[type="range"],
.sidebar input[type="date"],
.sidebar input[type="month"],
.sidebar input[type="week"],
.sidebar input[type="time"],
.sidebar input[type="datetime"],
.sidebar input[type="datetime-local"],
.sidebar input[type="color"],
.site-header-cart .cart-contents {
    background-color: map-get($theme-background-color, primary-background-color);
}

@include media(mobile-landscape) {
    .absolute-header.text-below-image .site-header {
        background-color: transparent;
    }
}

.section:nth-child(2n)#collection-section .product-container::before {
    color: map-get($theme-background-color, primary-background-color);
}

.testimonial-content-section .owl-carousel .owl-item .post-thumbnail img {
    border-color:  map-get($theme-background-color, primary-background-color);
}

/* Secondary Background Color */
body.boxed-layout:before,
.menu-inside-wrapper,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select,
#footer-newsletter,
mark,
#collection-section .product-container,
.quantity .qty,
.custom-header,
.shop_table thead th,
ul.wc_payment_methods.payment_methods.methods li,
.widget_shopping_cart,
.section:nth-child(2n).testimonial-content-section::before,
.section:nth-child(2n)#testimonial-content-section button.owl-dot,
.section:nth-child(2n)#logo-slider-section button.owl-dot,
#feature-slider-section button.owl-dot,
.widget .ui-tabs .ui-tabs-panel,
#sticky-playlist-section, #sticky-playlist-section .wp-playlist,
section.ew-tabbed-recent-popular .ui-tabs .ui-tabs-nav li a,
.section:nth-child(2n+1),
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments,
#social-menu-wrapper a,
.woocommerce-billing-fields input.input-text,
.testimonial-content-section.style-two .hentry-inner,
.pricing-section .hentry-inner,
.stats-section.style-one .hentry-inner,
#feature-slider-section .owl-nav>button:hover,
#feature-slider-section .owl-nav>button:focus {
    background-color: map-get($theme-background-color, secondary-background-color);
}
#collection-section .product-container::before {
    color: map-get($theme-background-color, secondary-background-color);
}

@include media(large) {
    .navigation-classic .site-header .sub-menu,
    .navigation-classic .site-header .children {
        background-color: map-get($theme-background-color, secondary-background-color);
    }
}

/* Tertiary Background */
.sidebar .widget,
.events-content-wrapper .entry-meta,
.tagcloud a,
pre,
ul.tabs.wc-tabs li.active a,
.woocommerce-Tabs-panel,
.author-info,
.comment-respond,
.scroll-inner,
.related.products li:hover a,
.related.products li:hover .product-container,
.hero-section .post-thumbnail:before,
.logo-images .logo-single .logo-inner,
.pagination .page-numbers,
.section:nth-child(2n).product-content-section .product-content-wrapper .products .product:hover .woocommerce-LoopProduct-link,
.section:nth-child(2n).product-content-section .product-content-wrapper .products .product:hover .product-container,
.playlist-content-wrapper .wp-playlist .mejs-container,
#gallery-section .gallery-item .gallery-icon a:before,
#gallery-section .tiled-gallery .tiled-gallery-item a:before,
.playlist-content-wrapper .wp-playlist .wp-playlist-tracks > div:hover,
.playlist-content-wrapper .wp-playlist .wp-playlist-tracks > div:focus,
.gallery-caption {
    background-color: map-get($theme-background-color, tertiary-background-color);
}

/* Footer Background Color */

#site-generator,
ins,
#colophon,
#contact-section,
.app-section .entry-container:after,
#catch-corporate-logo-slider-section .owl-dots .owl-dot.active {
    background-color: map-get($theme-background-color, footer-background-color);
}


/* Custom Header and Slider Text Color */
.has-header-image .custom-header-content .entry-title,
.has-header-image .custom-header-content .section-tagline,
.has-header-image .custom-header-content .site-header-text,
.has-header-image .custom-header-content-wrapper .section-title span,
.home .header-media .highlight-text,
.feature-slider-section .highlight-text,
#feature-slider-section .entry-title a,
#feature-slider-section .section-tagline,
.feature-slider-section .entry-title,
.feature-slider-wrapper .entry-container .entry-summary,
.feature-slider-wrapper .entry-container .entry-content,
.feature-slider-wrapper .entry-meta span,
#feature-slider-section .entry-meta a:hover,
#feature-slider-section .entry-meta a:focus,
.custom-header-media .entry-meta a,
.alternate-text {
    color: map-get($theme-color, custom-header-slider-text-color);
}

/* Custom Header and Slider Hover Color */
.has-header-image .custom-header-content .entry-title:focus,
.has-header-image .custom-header-content .entry-title:focus,
#feature-slider-section .entry-title a:hover,
#feature-slider-section .entry-title a:focus {
    color: map-get($theme-color, custom-header-slider-text-hover-color);
}


/* Main Text Color */

body,
input,
select,
optgroup,
textarea,
table a,
textarea::placeholder,
input::placeholder,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
cite,
blockquote,
section.ew-tabbed-recent-popular .ui-widget-content,
.menu-inside-wrapper .action-buttons > .is-ghost-button,
form div.fes-form .fes-el .fes-fields input[type="text"],
form div.fes-form .fes-el .fes-fields input[type="password"],
form div.fes-form .fes-el .fes-fields input[type="email"],
form div.fes-form .fes-el .fes-fields input[type="url"],
form div.fes-form .fes-el .fes-fields input[type="number"],
form div.fes-form .fes-el .fes-fields textarea,
.testimonial-content-section  button .icon {
    color: map-get($theme-color, main-text-color);
}



/* Headline Text Color */

h1,
h2,
h3,
h4,
h5,
h6,
input:focus,
select:focus,
optgroup:focus,
textarea:focus,
.section-title,
.scroll-down,
span.woocommerce-Price-amount,
.drop-cap:first-letter,
.portfolio-section-headline .section-title,
.promotion-contact .section-description p,
.author-name,
.comment-reply-link,
.author-title,
.contact-location-one,
.contact-location-two,
.wp-block-search__label,
.comment-respond .comment-form p label,
.has-background-image .entry-container .event-title .entry-title,
.has-background-image .entry-container .event-title .entry-title a,
section.ew-tabbed-recent-popular .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.filter-select-group > span,
.filters-select select,
.comments-title,
.breadcrumb,
.breadcrumb a,
.promotion-contact .button:hover,
.promotion-contact .button:focus,
.custom-header-content .entry-title,
.custom-header-content .section-tagline,
.custom-header-content .site-header-text,
.custom-header-content-wrapper .section-title span,
.comment-reply-title,
.promotion-section.content-color-white .entry-container .entry-title,
.promotion-section.content-color-white .entry-container .entry-content,
button#custom-video-button,
p.woocommerce-LoopProduct-link,
.edd-single-product-container .product-title,
#tabs.ui-tabs .ui-tabs-nav li a:hover,
#tabs.ui-tabs .ui-tabs-nav li a:focus,
#tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.portfolio-content-wrapper .filter-select-group > span,
.inner-contact .label {
    color: map-get($theme-color, theme-heading-color);
}

.product-content-section ul.ui-tabs-nav li a::before,
.scroll-down:before,
#testimonial-content-section .owl-dots:before,
.skillbar-bar,
.portfolio-content-wrapper button:before {
    background-color: map-get($theme-color, theme-heading-color);
}

.portfolio-content-wrapper .filters-select-wrap:after {
    border-top-color: map-get($theme-color, theme-heading-color);
}

/* 50% of heading text color */
.section-tagline,
.section-subtitle,
.service-section .section-content-wrapper .entry-summary,
.product_meta,
span.posted_in a,
#portfolio-content-section .portfolio-content-wrapper .filter-button-group button,
.product-content-section ul.ui-tabs-nav li a,
.entry-meta a,
.entry-meta svg,
#featured-content-section .hentry .entry-meta,
#collection-section .product-container .entry-meta,
.product-review-content .entry-meta p {
    color: map-get($theme-color, fifty-of-heading-text-color);
}


/* Link Color */
a,
.page-links a,
.nav-title,
.post-title,
.menu-toggle,
.main-navigation a,
.main-navigation .sub-menu a:hover,
.main-navigation .sub-menu a:focus,
.cart-contents,
.post-navigation .nav-title,
.pagination .page-numbers,
.more-link,
.more-button .more-link,
.more-button .more-link:hover,
.more-button .more-link:focus,
.author-link:hover,
.author-link:focus,
.woocommerce .products .product-container .button:hover,
.woocommerce .products .product-container .button:focus,
.sidebar .widget .entry-title a:hover,
.sidebar .widget .entry-title a:focus,
.sidebar .widget .wp-block-latest-posts__list li a,
.sidebar .widget.widget_recent_entries ul li a,
.sidebar .widget .wp-block-latest-comments li a,
#feature-slider-section .owl-nav button:hover,
#feature-slider-section .owl-nav button:focus {
    color: map-get($theme-color, link-color);
}

@include media(large) {
    #social-search-wrapper .social-navigation a:hover,
    #social-search-wrapper .social-navigation a:focus {
      color: map-get($theme-color, link-color);
    }
}

/* Link Hover Color */
a:hover,
a:focus,
.more-link:hover,
.more-link:focus  {
    color: map-get($theme-color, link-hover-color);
}

/* Secondary Link Color */
.menu-toggle:hover,
.menu-toggle:focus,
.cart-contents:hover,
.cart-contents:focus,
.site-title a:hover,
.site-title a:focus,
.main-navigation a:hover,
.main-navigation a:focus,
ins,
p.stars a,
p.stars a:before,
.controller:before,
.select2-results__option,
.main-navigation .sub-menu a,
.social-navigation a:hover,
.social-navigation a:focus,
.testimonials-content-wrapper.section.testimonial-wrapper .cycle-prev:before,
.testimonials-content-wrapper.section.testimonial-wrapper .cycle-prev:after,
.testimonials-content-wrapper.section.testimonial-wrapper .cycle-next:before,
.clients-content-wrapper .controller .cycle-pager span,
.testimonials-content-wrapper .cycle-pager:after,
.testimonials-content-wrapper .entry-title a,
.testimonials-content-wrapper.section.testimonial-wrapper .hentry,
.scrollup a:hover:before,
.scrollup a:focus:before,
.archive-content-wrap .section-content-wrapper.layout-one .entry-container>.entry-meta .posted-on a,
.author-label,
.section-heading-wrapper .entry-title span,
.author-section-title,
.nav-menu .menu-item-has-children>a:before,
.nav-menu .menu_item_has_children>a:before,
.events-content-wrapper .entry-meta a:hover,
.events-content-wrapper .entry-meta a:focus,
.sidebar .widget-wrap li a,
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited,
.sidebar nav.social-navigation ul li a:hover,
.sidebar nav.social-navigation ul li a:focus,
.screen-reader-text:focus,
td#today,
.toggled-on.active:before,
.comment-respond .comment-form p.is-focused label,
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.widget_recent_entries li a,
.wp-caption .wp-caption-text,
.edd-author .author-title a,
.fes-vendor-menu-tab a,
.edd-rp-item > a .edd-rp-item-title,
.action-buttons .button.is-ghost-button,
.vcard,
.position,
.nav-subtitle,
.comment-permalink,
.comment-edit-link,
.sidebar .widget ul li a,
.tagcloud a,
time.wp-block-latest-comments__comment-date,
.contact a {
    color: map-get($theme-color, secondary-link-color);
}

/* Secondary Link Hover Color */
.more-link,
.entry-meta a,
.play-button-text,
.has-background-image .woocommerce-loop-product__title,
.has-background-image  .entry-container .entry-meta a,
.has-background-image  .entry-container .entry-title a,
.has-background-image .entry-title a,
.has-background-image .entry-meta a,
.wp-playlist-tracks .wp-playlist-caption,
.woocommerce-loop-product__title,
span.price span.woocommerce-Price-amount,
.widget_recent_entries li a,
button#wp-custom-header-video-button,
.widget .ui-state-default a,
.widget .ui-widget-content .ui-state-default a,
.widget .ui-widget-header .ui-state-default a,
body .site-header .site-header-main .site-header-menu .menu-inside-wrapper .main-navigation .nav-menu ul .current_page_item>a,
.tag-cloud-link,
.nav-title,
.author a,
.site-footer td#prev a,
.site-footer td#next a,
.author-section-title,
.comment-permalink,
.comment-edit-link,
.nav-subtitle,
.entry-meta a,
.scroll-down,
.testimonials-content-wrapper.section.testimonial-wrapper .entry-title a,
.widget-wrap li a,
.archive-content-wrap .section-content-wrapper.layout-one .entry-container>.entry-meta .posted-on a,
.catch-corporate-logo-slider-content-wrapper .entry-title span,
.wp-playlist .mejs-controls .mejs-button button,
#sticky-playlist-section .mejs-container.catch-corporate-mejs-container .mejs-toggle-playlist button,
.fes-vendor-menu-tab a,
.sidebar .widget ul li a,
#portfolio-content-section .portfolio-content-wrapper .filter-button-group button,
.contact a {
    &:hover,
    &:focus {
        color: map-get($theme-color, secondary-link-hover-color);
    }
}

#promotion-section .play-button,
#feature-slider-section .entry-meta a,
.archive-post-wrap .hentry .entry-meta > span:hover::before,
.archive-post-wrap .hentry .entry-meta > span:focus::before,
.pagination .page-numbers:hover,
.pagination .page-numbers:focus,
.testimonial-content-section.style-two .entry-header:before,
.testimonial-content-section.style-one .entry-container:before,
ul > li::marker,
.sidebar .social-navigation.ct-social-widget a,
#portfolio-content-section .portfolio-content-wrapper .filter-button-group button.is-checked {
    color: map-get($theme-color, secondary-link-hover-color);
}

.single .site-main .entry-footer .entry-meta > span:not(.edit-link) a:hover,
.single .site-main .entry-footer .entry-meta > span:not(.edit-link) a:focus,
.portfolio-content-wrapper .filter-button-group button.is-checked:before,
.portfolio-content-wrapper .inner-wrap:before,
.ui-state-active a:after {
    border-color: map-get($theme-color, secondary-link-hover-color);
}

 /* Footer Text Color */
 .site-footer h1,
 .site-footer h2,
 .site-footer h3,
 .site-footer h4,
 .site-footer h5,
 .site-footer h6,
 .site-footer p,
 .footer-widget-area a,
.site-footer .widget_recent_entries li,
.site-footer .widget_recent_entries li a,
#social-footer-navigation li a,
.site-navigation a,
.contact-section .social-links-menu a,
.site-footer input[type="submit"],
.site-footer .ewnewsletter .hentry form input[type="submit"],
.single footer .entry-meta a:hover,
.single footer .entry-meta a:focus,
.site-footer input::placeholder,
.site-footer .widget_archive ul li > span,
.contact-section input::placeholder,
.site-footer .hentry .excerpt,
.newsletter .tnp-field input[type="submit"],
.contact-section .logo-title,
.site-info,
.site-footer .more-button .more-link,
.site-info a {
    color: map-get($theme-color, footer-text-color);
}


/* 56% of footer text color */
.site-footer .widget .widget-title,
.site-footer .widget .wp-block-group h2 {
    color: map-get($theme-color, fifty-six-of-footer-text-color);
}


/* Footer Border Color */

.site-footer {
    table,
    caption,
    th,
    td,
    table thead,
    table thead tr,
    thead th,
    select,
    input[type="text"],
    input[type="email"],
    input[type="email"]:focus,
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea,
    .social-links-menu a  {
        border-color: map-get($theme-color, footer-border-color);
    }
}

#site-generator::before,
#contact-section::before,
.contact-section  select,
.contact-section  input[type="text"],
.contact-section  .tnp-subscription input[type="email"],
.contact-section  input[type="email"]:focus,
.contact-section  input[type="url"],
.contact-section  input[type="password"],
.contact-section  input[type="search"],
.contact-section  input[type="number"],
.contact-section  input[type="tel"],
.contact-section  input[type="range"],
.contact-section  input[type="date"],
.contact-section  input[type="month"],
.contact-section  input[type="week"],
.contact-section  input[type="time"],
.contact-section input[type="datetime"],
.contact-section  input[type="datetime-local"],
.contact-section  input[type="color"],
.contact-section  textarea,
.contact-section  input[type="email"],
.site-footer select,
.site-footer input[type="text"],
.site-footer input[type="email"],
.site-footer input[type="email"]:focus,
.site-footer input[type="url"],
.site-footer input[type="password"],
.site-footer input[type="search"],
.site-footer input[type="number"],
.site-footer input[type="tel"],
.site-footer input[type="range"],
.site-footer input[type="date"],
.site-footer input[type="month"],
.site-footer input[type="week"],
.site-footer input[type="time"],
.site-footer input[type="datetime"],
.site-footer input[type="datetime-local"],
.site-footer input[type="color"],
.site-footer textarea,
.site-footer input[type="email"] {
    background-color: map-get($theme-color, footer-border-color);

}


/* Quote Color */

blockquote.wp-block-quote:before {
    color: map-get($theme-color, quote-color);
}

.wp-block-pullquote,
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright,
blockquote.wp-block-quote.is-large,
blockquote.wp-block-quote.is-style-large,
blockquote.wp-block-quote {
    border-color: map-get($theme-color, quote-color);
}


/* Border Color */
.woocommerce-tabs .panel,
.woocommerce-tabs ul.tabs li.active a:after,
.woocommerce-tabs ul.tabs:after,
.calendar_wrap tbody tr:first-child,
.calendar_wrap tbody tr:last-child,
tfoot,
tfoot tr td,
table.cart td.actions,
.author-info,
.navigation-classic .main-navigation ul ul,
.woocommerce-shorting-wrapper,
.woocommerce-tabs ul.tabs.wc-tabs li,
.widget .wp-block-group article,
.menu-wrapper .widget_shopping_cart ul.woocommerce-mini-cart li,
.entry-summary form.cart,
.widget_recent_entries li,
table,
caption,
th,
td,
table thead,
table thead tr,
thead th,
select,
table.shop_table_responsive tr td,
table tbody tr,
table.shop_table_responsive tbody tr:last-child,
.shop_table tfoot tr td,
.shop_table tfoot tr th,
table.shop_table.woocommerce-checkout-review-order-table .cart_item td,
table.shop_table.woocommerce-checkout-review-order-table tr td,
table.shop_table.woocommerce-checkout-review-order-table tr th,
.rtl tbody td:last-child,
.rtl table thead th:last-child,
.select2-container--default .select2-selection--single,
table.woocommerce-grouped-product-list.group_table,
table.woocommerce-grouped-product-list.group_table td,
table.variations,
table.variations td,
.woocommerce-pagination ul.page-numbers li .page-numbers,
.archive-content-wrap .navigation.pagination .page-numbers,
.woocommerce-posts-wrapper .summary.entry-summary .woocommerce-product-rating,
.cart-collaterals .order-total,
#payment .wc_payment_methods .payment_box,
.products .product,
abbr,
acronym,
.wp-block-search__label,
.product-quantity input[type="number"],
.coupon input[type="text"],
.catch-instagram-feed-gallery-widget-wrapper .button,
.site-header-cart .widget_shopping_cart,
.woocommerce-grouped-product-list tr,
.mobile-social-search,
.widget .ui-tabs .ui-tabs-panel,
.site-header-menu .menu-inside-wrapper .nav-menu button:focus,
header .site-header-menu .menu-inside-wrapper .main-navigation .sub-menu li:last-child,
header .site-header-menu .menu-inside-wrapper .main-navigation .children li:last-child,
.comment-body,
.section:nth-child(2n-1) + .site-content,
.site-content + .section:nth-child(2n-1),
.archive-content-wrap .section-content-wrapper.layout-one .hentry .hentry-inner .entry-container>.entry-meta,
.comments-area,
.widget-area .essential-widgets .tagcloud a,
.tagcloud a,
.playlist-content-wrapper .wp-playlist .wp-playlist-tracks,
.archive-post-wrap .hentry .entry-footer,
.portfolio-content-wrapper .filter-button-group,
.portfolio-content-wrapper .filters-select-wrap select,
form div.fes-form fieldset,
.edd-vendor-detail,
.ui-tabs .ui-tabs-nav,
.post-navigation,
.archive .archive-post-wrap .post-wrapper,
.search .archive-post-wrap .post-wrapper,
.blog .archive-post-wrap .post-wrapper,
.comment-list > li,
.comment-list > li > .children > li article,
.comment-list > li > article,
.sidebar .social-navigation.ct-social-widget a,
#team-content-section .social-navigation a,
.sidebar .widget .has-avatars li,
#featured-content-section .hentry .entry-meta,
.service-section .hentry-inner,
.single .site-main .entry-footer .entry-meta > span:not(.edit-link) a,
.entry-header-wrap + .entry-content,
.entry-header-wrap + .entry-summary,
.action-buttons .button.is-ghost-button,
.custom-header-media .more-button .more-link.is-ghost-button,
.menu-toggle,
#feature-slider-section .more-button .more-link.is-ghost-button,
#social-menu-wrapper a,
.site-header-cart .cart-contents {
    border-color: map-get($theme-color, border-color);
}

.testimonial-content-section .entry-container:before {
    color: map-get($theme-color, border-color);
}


.skillbar-content,
.testimonial-content-section::after {
    background-color: map-get($theme-color, border-color);
}

/* Button Background Color */
.asc-settings,
.button,
.entry-content button,
.entry-summary button,
button,
.archive-posts-wrapper .more-button .more-link,
#scrollup,
.slider-content-wrapper .controllers .cycle-prev,
.slider-content-wrapper .controllers .cycle-next,
button[type="submit"],
input[type="submit"],
.scrollup a,
.product-review-content .entry-title::before,
.promotion-section  .more-button::before,
.wp-block-file .wp-block-file__button,
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
.wp-block-button__link,
#infinite-handle .ctis-load-more button,
#infinite-handle .ctis-load-more button:hover,
#infinite-handle .ctis-load-more button:focus,
.menu-inside-wrapper #site-header-cart-wrappe li>a,
nav.navigation.posts-navigation .nav-links a,
.woocommerce-pagination ul.page-numbers li .page-numbers.current,
.archive-content-wrap .pagination .page-numbers.current,
.cart-collaterals .shop_table.shop_table_responsive .cart-subtotal,
.catch-instagram-feed-gallery-widget-wrapper .button,
.sticky-label,
#catch-corporate-logo-slider-section .owl-dots .owl-dot,
#catch-corporate-logo-slider-section .owl-prev,
#catch-corporate-logo-slider-section .owl-next,
.post-page-numbers.current,
.sticky-post span,
#hero-section .more-button .more-link,
#promotion-content-section .more-button .more-link,
.is-gradient-button .pagination .page-numbers,
.is-gradient-button .pagination .page-numbers.prev,
.is-gradient-button .pagination .page-numbers.next,
.promotion-section .more-link,
.pricing-section .hentry.highlight .more-button .more-link,
.pricing-section .popular-tag,
.woocommerce .product-container .wc-forward,
#feature-slider-section .more-link,
.ewnewsletter .hentry form input[type="submit"]:hover,
.ewnewsletter .hentry form input[type="submit"]:focus,
form div.fes-form .fes-submit input[type="submit"],
.demo_store,
#logo-slider-section button.owl-dot.active,
.section:nth-child(2n)#logo-slider-section button.owl-dot.active,
#testimonial-content-section button.owl-dot.active,
#feature-slider-section button.owl-dot.active,
.section:nth-child(2n)#testimonial-content-section button.owl-dot.active,
.header-media .more-button .more-link,
.tagcloud a:hover,
.tagcloud a:focus,
#promotion-contact,
.pagination .page-numbers.current,
.wp-block-file .wp-block-file__button,
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
button#custom-video-button:hover,
button#custom-video-button:focus,
.single .site-main .entry-footer .entry-meta > span:not(.edit-link) a:hover,
.single .site-main .entry-footer .entry-meta > span:not(.edit-link) a:focus,
.sidebar .widget.social-navigation a:hover,
.sidebar .widget.social-navigation a:focus,
.site-footer .widget.social-navigation a:hover,
.site-footer .widget.social-navigation a:focus,
#team-content-section .social-navigation a:hover,
#team-content-section .social-navigation a:focus,
#social-menu-wrapper a:after {
    background-color: map-get($button-color, background-button);
}

body input[type="text"]:focus,
body input[type="email"]:focus,
body input[type="url"]:focus,
body input[type="password"]:focus,
body input[type="search"]:focus,
body input[type="number"]:focus,
body input[type="tel"]:focus,
body input[type="range"]:focus,
body input[type="date"]:focus,
body input[type="month"]:focus,
body input[type="week"]:focus,
body input[type="time"]:focus,
body input[type="datetime"]:focus,
body input[type="datetime-local"]:focus,
body input[type="color"]:focus,
body textarea:focus,
form div.fes-form .fes-el .fes-fields input[type="text"]:focus,
form div.fes-form .fes-el .fes-fields input[type="password"]:focus,
form div.fes-form .fes-el .fes-fields input[type="email"]:focus,
form div.fes-form .fes-el .fes-fields input[type="url"]:focus,
form div.fes-form .fes-el .fes-fields input[type="number"]:focus,
form div.fes-form .fes-el .fes-fields textarea:focus,
.tagcloud a:hover,
.single .site-main .entry-footer .entry-meta > span:not(.edit-link) a:hover {
    border-color: map-get($button-color, background-button);
}

p.stars:hover a:before,
p.stars:focus a:before,
.star-rating span:before,
p.stars.selected a.active:before,
p.stars.selected a:not(.active):before,
p.stars.selected a.active~a:before,
p.stars a:hover~a:before,
p.stars a:focus~a:before,
.archive-posts-wrapper .post-thumbnail .icon-info:hover,
.archive-posts-wrapper .post-thumbnail .icon-info:focus,
#reviews .comment-respond .comment-form-rating .stars span a.active:before,
#reviews .comment-respond .comment-form-rating .stars.selected span a:not(.active):before,
.contact-details .contact svg,
.home .header-media .highlight-text,
.feature-slider-section .highlight-text,
.main-navigation>ul>li.current_page_item>a,
.main-navigation>ul>li.current-menu-item>a {
    color: map-get($button-color, background-button);
}

/* Button Hover Background Color */
#scrollup,
.scrollup a,
#catch-corporate-logo-slider-section .owl-prev,
#catch-corporate-logo-slider-section .owl-next,
.wp-block-button__link,
.slider-content-wrapper .cycle-next,
.slider-content-wrapper .cycle-prev,
nav.navigation.posts-navigation .nav-links a,
.woocommerce-pagination ul.page-numbers li .page-numbers,
.archive-content-wrap .pagination .page-numbers,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button,
.pagination .page-numbers.prev,
.pagination .page-numbers.next,
.pricing-section .more-button .more-link,
.pricing-section .hentry.highlight .more-button .more-link,
.woocommerce .product-container .wc-forward,
.onsale,
input[type="submit"],
.pagination .page-numbers,
.action-buttons .button.is-ghost-button,
#testimonial-content-section .owl-nav > button
.more-button .more-link,
.is-gradient-button .archive-posts-wrapper .more-button .more-link,
.is-gradient-button button:not(.dropdown-toggle):not(.menu-toggle),
.is-gradient-button .button,
.is-gradient-button .entry-summary button,
.is-gradient-button input[type="button"],
.is-gradient-button input[type="reset"],
.is-gradient-button input[type="submit"],
.is-gradient-button #stats-section .view-more .more-link,
.is-gradient-button #app-section .entry-summary .more-link,
.is-gradient-button .posts-navigation a,
.is-gradient-button #content #infinite-handle span button,
.is-gradient-button #hero-section .more-button .more-link,
.is-gradient-button #promotion-content-section .more-button .more-link,
.is-gradient-button .pagination .page-numbers.prev,
.is-gradient-button .pagination .page-numbers.next,
.is-gradient-button .promotion-section .more-link,
.is-gradient-button .woocommerce .product-container .wc-forward,
.is-gradient-button .header-media .more-link:not(.is-ghost-button),
.is-gradient-button #feature-slider-section .more-link,
.is-gradient-button #testimonial-content-section .owl-nav > button {
    &:hover,
    &:focus {
        background-color: map-get($button-color, background-hover-button);
    }
}

button:after,
button[disabled]:hover:after,
button[disabled]:focus:after,
.button:after,
.entry-summary button:after,
input[type="button"]:after,
input[type="button"][disabled]:hover:after,
input[type="button"][disabled]:focus:after,
input[type="reset"]:after,
input[type="reset"][disabled]:hover:after,
input[type="reset"][disabled]:focus:after,
input[type="submit"]:after,
input[type="submit"][disabled]:hover:after,
input[type="submit"][disabled]:focus:after,
#stats-section .view-more .more-link:after,
#app-section .entry-summary .more-link:after,
.posts-navigation a:after,
#content #infinite-handle span button:after,
.pagination .page-numbers.prev:after,
.pagination .page-numbers.next:after,
.promotion-section .more-button .more-link:after,
.woocommerce .product-container .wc-forward:after,
.header-media .more-link:after,
#feature-slider-section .more-link:after,
.more-button .more-link:after,
.menu-toggle:after,
.site-header-cart .cart-contents:after,
.ewnewsletter .hentry form input[type="submit"]:hover {
    background-color: map-get($button-color, background-hover-button);
}

.custom-header-media .more-button .more-link.is-ghost-button,
#feature-slider-section .more-button .more-link.is-ghost-button {
    color: map-get($button-color, background-hover-button);
}

/* Secondary Background Button Color */
.promotion-contact .button,
.products .button::before,
.scroll-inner:after,
#feature-slider-section .owl-nav > button {
    background-color: map-get($button-color, secondary-background-button);
}

.custom-header-media .wp-custom-header-video-button:hover,
.custom-header-media .wp-custom-header-video-button:focus {
    border-color: map-get($button-color, secondary-background-button);
}

/* Button Text Color */
.sidebar .widget.social-navigation a:hover,
.sidebar .widget.social-navigation a:focus,
.site-footer .widget.social-navigation a:hover,
.site-footer .widget.social-navigation a:focus,
.entry-content button,
.entry-summary button,
.slider-content-wrapper .controllers .cycle-prev,
.slider-content-wrapper .controllers .cycle-next,
button,
#scrollup,
.product-content-section ul.ui-tabs-nav li.ui-state-active a,
.product-content-section ul.ui-tabs-nav li a:hover,
.product-content-section ul.ui-tabs-nav li a:focus,
.header-media .more-button .more-link,
#primary-search-wrapper .search-container button,
.button,
.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus,
.scrollup a:before,
.page-numbers:hover,
.page-numbers:focus,
button[type="submit"],
input[type="submit"],
button#wp-custom-header-video-button,
#infinite-handle .ctis-load-more button,
nav.navigation.posts-navigation .nav-links a,
.woocommerce-pagination ul.page-numbers li:hover,
.archive-content-wrap .pagination .page-numbers:hover,
.archive-content-wrap .pagination .page-numbers:focus,
.woocommerce-pagination ul.page-numbers li:focus,
.archive-content-wrap .pagination .page-numbers.current,
.woocommerce-pagination ul.page-numbers li .page-numbers.current,
.slider-content-wrapper #featured-slider-prev:hover:before,
.slider-content-wrapper #featured-slider-next:hover:before,
.slider-content-wrapper #featured-slider-prev:focus:before,
.slider-content-wrapper #featured-slider-next:focus:before,
.nav-menu .menu-item-has-children>a:hover:before,
.nav-menu .menu-item-has-children>a:focus:before,
.nav-menu .menu_item_has_children>a:hover:before,
.nav-menu .menu_item_has_children>a:focus:before,
.cart-collaterals .shop_table.shop_table_responsive .cart-subtotal,
.post-page-numbers.current,
.sticky-post span,
.is-gradient-button .pagination .page-numbers,
#hero-section .more-button .more-link,
#promotion-content-section .more-button .more-link,
.is-gradient-button .pagination .page-numbers.prev,
.is-gradient-button .pagination .page-numbers.next,
#promotion-section .more-button .more-link,
.pricing-section .hentry.highlight .more-button .more-link,
.pricing-section .popular-tag,
.woocommerce .product-container .wc-forward,
#feature-slider-section .more-link,
.ewnewsletter .hentry form input[type="submit"]:hover,
.ewnewsletter .hentry form input[type="submit"]:focus,
form div.fes-form .fes-submit input[type="submit"],
.demo_store .woocommerce-store-notice__dismiss-link,
.demo_store,
.archive-posts-wrapper .more-button .more-link,
.wp-block-file .wp-block-file__button,
.wp-block-search .wp-block-search__button,
.tagcloud a:hover,
.tagcloud a:focus,
.single .site-main .entry-footer .entry-meta > span:not(.edit-link) a:hover,
.single .site-main .entry-footer .entry-meta > span:not(.edit-link) a:focus,
.pagination .page-numbers.current,
button#custom-video-button:hover,
button#custom-video-button:focus,
#team-content-section .social-navigation a:hover,
#team-content-section .social-navigation a:focus,
#testimonial-content-section .owl-nav > button {
    color: map-get($button-color, button-text-color);
}

/* Button Hover Text Color */
button,
.button,
.entry-content button,
.entry-summary button,
input[type="submit"],
button[type="submit"],
#primary-search-wrapper .search-container button,
#infinite-handle .ctis-load-more button,
nav.navigation.posts-navigation .nav-links a,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button,
#catch-corporate-logo-slider-section .owl-prev,
#catch-corporate-logo-slider-section .owl-next,
#scrollup,
.wp-block-search .wp-block-search__button:hover,
.wp-block-search .wp-block-search__button:focus,
#promotion-section .more-button .more-link,
#hero-section .more-button .more-link,
#promotion-content-section .more-button .more-link,
.pagination .page-numbers.prev,
.pagination .page-numbers.next,
.promotion-section .more-link,
.pricing-section .more-button .more-link,
.pricing-section .hentry.highlight .more-button .more-link,
.woocommerce .product-container .wc-forward,
#feature-slider-section .more-link,
.onsale,
.action-buttons .button.is-ghost-button,
.pagination .page-numbers,
form div.fes-form .fes-submit input[type="submit"],
#testimonial-content-section .owl-nav > button
.more-button .more-link,
button#wp-custom-header-video-button,
.archive-posts-wrapper .more-button .more-link,
.header-media .more-button .more-link,
.menu-toggle,
#feature-slider-section .more-button .more-link.is-ghost-button,
.site-header-cart .cart-contents {
    &:hover,
    &:focus {
        color: map-get($button-color, button-hover-text-color);
    }
}

.scroll-inner:hover,
.scroll-inner:focus,
.promotion-contact .button,
#feature-slider-section .owl-nav button {
    color: map-get($button-color, button-hover-text-color);
}


/* Text Color With Background */

ins,
.has-background-image .entry-container,
.portfolio-content-wrapper .hentry .entry-container .entry-summary,
.ewnewsletter.has-background-image .section-title,
.testimonials-content-wrapper.section.testimonial-wrapper.has-background-image .hentry,
.testimonials-content-wrapper.section.testimonial-wrapper.has-background-image .position,
.playlist-content-wrapper .catch-corporate-mejs-container.mejs-container button,
.playlist-content-wrapper .wp-playlist-current-item,
.has-background-image .section-title,
.has-background-image  .entry-container .entry-meta a,
.has-background-image  .entry-container .entry-title a,
.has-background-image  .entry-container .entry-title,
.has-background-image  .entry-container .entry-title span,
.has-background-image  .entry-container .entry-summary,
.has-background-image  .entry-container .entry-content,
.has-background-image .woocommerce-loop-product__title,
.has-background-image .section-tagline,
.has-background-image .section-description,
.team-content-wrapper  a,
body:not(.home).header-text-white .breadcrumb,
body:not(.home).header-text-white .breadcrumb a,
body:not(.home).header-text-white  .custom-header-media .entry-meta a,
body:not(.home).header-text-white .header-media .entry-title,
body:not(.home).header-text-white .custom-header-content .site-header-text,
.team-content-wrapper .entry-meta,
.content-color-white .entry-container .entry-title a,
.content-color-white .entry-container .entry-title,
.content-color-white .entry-container .section-title,
.content-color-white .entry-container .entry-content,
.content-color-white .entry-container .entry-summary,
.promotion-section.content-color-white.has-background-image .entry-container .entry-title,
.promotion-section.content-color-white.has-background-image .entry-container .entry-content,
.content-color-white .section-description,
.has-background-image .products .button,
.footer-widget-area a:hover,
.footer-widget-area a:focus,
.site-info a:hover,
.site-info a:focus,
#feature-slider-section .owl-nav button:hover:before,
#feature-slider-section .owl-nav button:focus:before,
.playlist-content-wrapper .wp-playlist-caption:hover,
.playlist-content-wrapper .wp-playlist-caption:focus,
.play-button-text,
.head-button .view-more .button,
.collection-wrapper .head-title,
.site-footer input[type="email"],
.site-navigation a:hover,
.site-navigation a:focus,
.site-footer .ewnewsletter .hentry form input[type="submit"]:hover,
.site-footer .ewnewsletter .hentry form input[type="submit"]:focus,
ul.products .onsale,
.contact-section .social-links-menu a:hover,
.contact-section .social-links-menu a:focus,
.site-footer .widget-wrap li a:hover,
.site-footer .widget-wrap li a:focus,
.newsletter .tnp-field input[type="submit"]:hover,
.newsletter .tnp-field input[type="submit"]:focus,
#feature-slider-section .owl-dot,
#app-section.content-color-white .entry-container .entry-content,
.events-content-wrapper .entry-meta a,
.head-button .view-more .button:hover,
.head-button .view-more .button:focus,
.contact-section  select,
.contact-section  input[type="text"],
.contact-section  .tnp-subscription input[type="email"],
.contact-section  input[type="email"]:focus,
.contact-section  input[type="url"],
.contact-section  input[type="password"],
.contact-section  input[type="search"],
.contact-section  input[type="number"],
.contact-section  input[type="tel"],
.contact-section  input[type="range"],
.contact-section  input[type="date"],
.contact-section  input[type="month"],
.contact-section  input[type="week"],
.contact-section  input[type="time"],
.contact-section input[type="datetime"],
.contact-section  input[type="datetime-local"],
.contact-section  input[type="color"],
.contact-section  textarea,
.contact-section  input[type="email"],
.site-footer select,
.site-footer input[type="text"],
.site-footer input[type="email"],
.site-footer input[type="email"]:focus,
.site-footer input[type="url"],
.site-footer input[type="password"],
.site-footer input[type="search"],
.site-footer input[type="number"],
.site-footer input[type="tel"],
.site-footer input[type="range"],
.site-footer input[type="date"],
.site-footer input[type="month"],
.site-footer input[type="week"],
.site-footer input[type="time"],
.site-footer input[type="datetime"],
.site-footer input[type="datetime-local"],
.site-footer input[type="color"],
.site-footer textarea,
.site-footer input[type="email"]
#playlist-section .playlist-content-wrapper .mejs-time {
    color: map-get($theme-color, color-white-light);
}

.head-button .view-more .button::before {
    background-color: map-get($theme-color, color-white-light);
}

/* Color Transparent */
.wp-block-file .wp-block-file__button,
.wp-block-button .wp-block-button__link,
#primary-search-wrapper .menu-inside-wrapper input[type="search"],
button#wp-custom-header-video-button,
.woocommerce-loop-category__title .count,
.footer-widget-area .essential-widgets.ew-newsletter,
.woocommerce .products .product-container .button:hover,
.woocommerce .products .product-container .button:focus,
body .dropdown-toggle:hover,
body .dropdown-toggle:focus,
.site-footer input[type="submit"],
.site-footer .ewnewsletter .hentry form input[type="submit"],
.head-button .view-more .button,
.featured-content-wrapper .more-button .more-link:after,
.head-button .view-more .button:after,
.product-content-wrapper .product :after,
.products a.button,
.products a.button:after,
.nav-menu button:after,
.newsletter .tnp-field input[type="submit"],
.product-content-wrapper .ui-state-active,
.owl-nav button:after,
.owl-dots button:after,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.newsletter .tnp-field input[type="submit"]:hover,
.newsletter .tnp-field input[type="submit"]:focus,
.site-footer .ewnewsletter .hentry form input[type="submit"]:hover,
.site-footer .ewnewsletter .hentry form input[type="submit"]:focus,
.testimonial-content-section .more-button .more-link:after,
#portfolio-content-section .filter-button-wrap .button:hover,
#portfolio-content-section .filter-button-wrap .button:focus {
    background: transparent;
}

#primary-search-wrapper .menu-toggle,
body .button.is-ghost-button,
body .more-link.is-ghost-button,
body #menu-toggle,
body .dropdown-toggle,
body .more-button .more-link.is-ghost-button,
.is-gradient-button #testimonial-content-section .owl-nav > button,
#portfolio-content-section .filter-button-wrap .button,
#portfolio-content-section .filter-button-wrap .button:hover,
#portfolio-content-section .filter-button-wrap .button:focus {
    background-image: none;
}

#social-search-wrapper #social-menu-wrapper a:hover,
#social-search-wrapper #social-menu-wrapper a:focus {
	border-color: transparent;
}




